@using DreamsRentBack.Entities.ClientModels;
@using DreamsRentBack.Utilities;

@{
    ViewData["Title"] = "View";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminPanel.cshtml";
    List<ContactUs> contactUsMessages = ViewBag.ContactUsMessages;
    List<Car> cars = ViewBag.Cars;
    List<Company> companies = ViewBag.Companies;
}
<style>
    .company{
        width:50px;
        height:50px;
        background:white;
        border-radius:50%;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .company img{
        width:100%;
    }
</style>
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->
<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Worldwide Sales</h6>
                    <a href="~/admin/assets/">Show All</a>
                </div>
                <canvas id="worldwide-sales"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Salse & Revenue</h6>
                    <a href="~/admin/assets/">Show All</a>
                </div>
                <canvas id="salse-revenue"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a href="~/admin/assets/">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Company</th>
                        <th scope="col">Car Brand</th>
                        <th scope="col">Car Model</th>
                        <th scope="col">Car Price</th>
                        <th scope="col">Car Sticker Code</th>
                        <th scope="col" style="width:250px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Car car in cars)
                    {
                        if (car.CarConfirmation == CarConfirmation.None)
                        {
                            <tr>
                                <td>@car.Company.CompanyName</td>
                                <td>@car.Brand.Name</td>
                                <td>@car.Brand.Models.FirstOrDefault(m=>m.Id == car.ModelId).Name</td>
                                <td>$@car.Price</td>
                                <td>No @(new Random().Next(1000, 10000))@car.Id</td>
                                <td class="d-flex justify-content-around">
                                    <a asp-controller="Sticker" asp-action="Detail" asp-route-carId="@car.Id" class="btn btn-sm btn-primary">Detail</a>
                                    <a asp-controller="Sticker" asp-action="Accept" asp-route-carId="@car.Id" class="btn btn-sm btn-primary">Accept</a>
                                    <a asp-controller="Sticker" asp-action="Reject" asp-route-carId="@car.Id" class="btn btn-sm btn-primary">Reject</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4" style="max-height: 350px; overflow-y: scroll;">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                </div>
                @foreach (var item in contactUsMessages)
                {
                    <a asp-controller="Contact" asp-action="ShowMessage" asp-route-email="@item.Email" asp-route-comment="@item.Comment" asp-route-name="@item.Name" class="d-flex align-items-center border-bottom py-3">
                        <div class="w-100 ms-3">
                            @if(Math.Round((DateTime.Now - item.SendTime).TotalMinutes)<60)
                            {
                                <small>@(Math.Round((DateTime.Now - item.SendTime).TotalMinutes)) minutes ago</small>
                            }
                            @if(Math.Round((DateTime.Now - item.SendTime).TotalMinutes) > 60)
                            {
                                <small>@(Math.Round((DateTime.Now - item.SendTime).TotalHours)) hours ago</small>
                            }
                            @if (Math.Round((DateTime.Now - item.SendTime).TotalHours) > 24)
                            {
                                <small>@(Math.Round((DateTime.Now - item.SendTime).TotalDays)) days ago</small>
                            }
                            @if (Math.Round((DateTime.Now - item.SendTime).TotalDays) > 30)
                            {
                                <small>@item.SendTime.ToString("D")</small>
                            }
                            <div class="d-flex w-100 mb-3 mt-2 justify-content-between">
                            <h6 class="mb-0">@item.Name</h6>
                            <h6 class="mb-0">@item.Email</h6>
                        </div>
                        <span>@(item.Comment.Length > 35 ? item.Comment.Substring(0, 35) : item.Comment)</span>
                    </div>
                </a>
                }
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                </div>
                <div id="calender"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Companies</h6>
                </div>
                @foreach (Company company in companies)
                {
                    if (company.Verification == false)
                    {
                        <div class="d-flex align-items-center border-bottom py-2">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <div class="company">
                                        @if (@company.CompanyPhoto is null)
                                        {
                                            <img class="w-100" src="~/assets/images/users/Default_pfp.svg.png"/>
                                        }
                                        else
                                        {
                                            <img class="w-100" src="~/assets/images/users/@company.CompanyPhoto"/>
                                        }
                                    </div>
                                    <span>@company.CompanyName</span>
                                    <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Widgets End -->