@model CarOrderVM
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Views/Shared/_LayoutWithoutHeaderFooter.cshtml";
}

<!-- main start -->
<main>
    <section id="head">
        <div class="container">
            <div class="head-wrapper">
                <h2>Order Confirmation</h2>
                <div class="root">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </li>
                        <li>
                            Order Confirmation
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="order">
    <div class="container">
        <div class="order-wrapper">
            <div class="order-title">
                <h3>Order Confirmation</h3>
                <h5>Order Total : <span>$@Model.Price</span></h5>
            </div>
            <div class="order-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="order-box-title">
                            <h4>Car Details</h4>
                        </div>
                        <div class="order-car">
                            <span>
                                <img src="~/assets/images/cars/@Model.CarPhoto" alt="">
                            </span>
                            <h5>
                                @Model.BrandName @Model.ModelName
                                <span>$@Model.Price</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="order-box-title">
                            <h4>Comment</h4>
                        </div>
                        <div class="services-list">
                            <ul>
                                <li>@Model.Comment</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="order-box-title">
                            <h4>Payment details</h4>
                        </div>
                        <div class="pay-card">
                            <h6>Visa card ending in @Model.User.PayCard.CardNumber.Substring(12, 4)</h6>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="order-box-title">
                            <h4>Pickup Location & Date</h4>
                        </div>
                        <div class="adress-info">
                            <p>@Model.PickupLocation</p>
                            <p>@Model.PickupDate.ToString("D")</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="order-box-title">
                            <h4>Your Information</h4>
                        </div>
                        <div class="your-info">
                            <p>@Model.User.Name @Model.User.Surname</p>
                            <p>@Model.User.Email</p>
                            <p>@Model.User.PhoneNumber</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="order-box-title">
                            <h4>Drop Off Location</h4>
                        </div>
                        <div class="adress-info">
                            <p>@Model.DropoffLocation</p>
                            <p>@Model.DropoffDate.ToString("D")</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="place-order">
                    <a 
                       asp-action="PlaceOrder"
                       asp-route-carId="@Model.Id"
                       asp-route-pickLocation="@Model.PickupLocation"
                       asp-route-dropLocation="@Model.DropoffLocation"
                       asp-route-pickDate="@Model.PickupDate"
                       asp-route-dropDate="@Model.DropoffDate"
                       class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reception-4" viewBox="0 0 16 16">
                        <path d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z" />
                    </svg>
                    Place Order
                </a>
            </div>
        </div>
    </div>
</section>
</main>
<!-- main end -->

