@using DreamsRentBack.Entities.CarModels;
@using DreamsRentBack.Entities.ClientModels;
@using DreamsRentBack.ViewModels.CarViewModels;
@{
    ViewData["Title"] = "Home";
    List<CarExploreVM> cars = ViewBag.Cars;
    List<Brand> brands = ViewBag.Brands;
    List<Body> bodies = ViewBag.Bodies;
    List<Rating> ratings = ViewBag.Ratings;
    List<User> users = ViewBag.HappyUsers;
    List<ContactUs> contacts = ViewBag.ContactUs;
    List<Booking> bookings = ViewBag.Bookings;
    User user = ViewBag.User;
}
<style>

    #dropdownContainer {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        z-index: 1;
        width:100%;
        border: 1px solid #F4F4F4;
        padding: 10px;
        background-color: white;
    }

    .dropdown-content .suggestion {
        cursor: pointer;
        padding: 5px;
    }    

    .dropdown-content .suggestion:hover {
        background-color: lightgray;
    }        

</style>
<!-- main start -->
<main>
 @*   <div id="status" style="display:none"></div>
    <input type="text" id="textMessage">
    <button id="send">Send</button>
    <div id="messages"></div>*@
    <section id="banner">
        <div class="container">
            <div class="row">
                <div data-aos="fade-down" class="banner-text col-lg-6">
                    <p class="banner-recomend">
                        <i class="fa-solid fa-thumbs-up me-2"></i>
                        100% Trusted car rental platform in the World
                    </p>
                    <div class="banner-title">
                        <h1>Find Your Best</h1>
                        <h1>Dream Car for Rental</h1>
                    </div>
                    <div class="banner-desc">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                    <div class="banner-button">
                        <a asp-controller="Listing" asp-action="Index">
                            View all Cars
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="banner-photo col-lg-6">
                    <img data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="500" src="~/assets/images/index/banner/Audi-4K-PNG.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="search">
        <div class="container">
            <div class="search-main">
                <form asp-controller="Listing" asp-action="Index" method="get"  id="searchForm">
                    <ul>
                        <li>
                            <div class="form-group">
                                <label for="#">Pickup Location</label>
                                <div class="group-img">
                                    <input name="streetName" class="form-group" autocomplete="off" id="searchInput" type="text" placeholder="Address">
                                    <input type="hidden" id="selectedValue" />
                                    <div id="dropdownContainer">
                                        <div id="suggestions" class="dropdown-content"></div>
                                    </div>
                                    <span>
                                        <i class="fa-sharp fa-solid fa-location-dot"></i>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="#">Pickup Date</label>
                            </div>
                            <div class="form-group-wrapper">
                                <div class="date form-group" style="width:100%;">
                                    <div class="group-img">
                                        <input name="pickupDate" class="form-group date-now" type="date">
                                        <span>
                                            <i></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="#">Return Date</label>
                            </div>
                            <div class="form-group-wrapper">
                                <div class="date form-group" style="width:100%;">
                                    <div class="group-img">
                                        <input class="form-group date-now" type="date">
                                        <span>
                                            <i></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <div class="search-btn">
                                    <button type="submit" class="btn search-button">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </section>
    <section id="services" style="overflow:hidden;">
        <div class="right-photo">
            <img src="~/assets/images/index/service-right.svg" alt="">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="services-title">
                <h2>How It Works</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="services-body">
                <div class="row">
                    <div class="location col-lg-4">
                        <div class="location-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>1. Choose Locations</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                    <div class="pick-up col-lg-4">
                        <div class="pick-up-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>2. Pick-Up Locations</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                    <div class="book col-lg-4">
                        <div class="book-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>3. Book your Car</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="explore">
        <div class="container">
            <div data-aos="fade-down" class="explore-title">
                <h2>Explore Most Popular Cars</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div data-aos="fade-down" class="explore-body-top">
                <ul style="justify-content: center">
                    @foreach (Brand brand in brands)
                    {
                        <li style="margin-right:20px">
                            <a onclick="filterBrands(@brand.Id);event.preventDefault();">
                                <span style="padding: 5px;width:50px;height:50px;">
                                    <img style="width:100%;" src="~/assets/images/index/brands/@brand.BrandLogo" alt="">
                                </span>
                                @brand.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="explore-body-bottom">
                <div class="cars" id="partialHomeCars">
                    @await Html.PartialAsync("_partialHomeCars",cars)
                </div>
            </div>
        </div>
    </section>
    <section id="populars">
        <div class="container">
            <div data-aos="fade-down" class="populars-title">
                <h2>Most Popular Cartypes</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="populars-body row">
                <div class="slider">
                    <div class="slider-wrapper">
                        <div class="owl-carousel owl-theme">
                            @foreach (Body body in bodies)
                            {
                                <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/bodies/@body.BodyPhoto" alt="">
                                        </div>
                                        <h6>@body.Name</h6>
                                        <p>@body.Cars.Count()</p>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-all">
                <a asp-controller="Listing" asp-action="Index">
                    View all Cars
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
    <section id="facts">
        <div class="left-img">
            <img src="assets/images/index/facts-left.png" class="img-fluid" alt="facts left">
        </div>
        <div class="right-img">
            <img src="assets/images/index/facts-right.png" class="img-fluid" alt="facts left">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="facts-title">
                <h2>Facts By The Numbers</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div data-aos="fade-down" class="counter-group">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-heart.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4 class="count" data="@users.Count()">0</h4>
                                <p>Happy Customers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-car.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4 class="count" data="@cars.Count()">0</h4>
                                <p>Count of Cars</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-headphone.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4 class="count" data="@contacts.Count()">0</h4>
                                <p>Car Center Solutions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-history.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4 class="count" data="@bookings.Count()">0</h4>
                                <p>Total Bookings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="recommended">
        <div class="container">
            <div data-aos="fade-down" class="recommended-title">
                <h2>Recommended Car Rental deals</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="recommended-body row">
                <div class="slider">
                    <div class="slider-wrapper">
                        <div class="responsive">
                            @foreach (CarExploreVM car in cars.OrderBy(c=>c.Comments.Count()))
                            {
                                <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                            <div class="car-img" style="height:285px;">
                                                <a asp-controller="Detail" asp-action="CarDetail" asp-route-Id="@car.Id">
                                                <img src="/assets/images/cars/@car.CarPhotos.FirstOrDefault(cp=>cp.CarId == car.Id).Path" style="height:100%" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                            $@(car.Price.ToString("N0"))/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    @for (double i = 0; i < Math.Floor((double)car.Rating / ratings.Where(r=>r.Comment.CarId == car.Id).Count()); i++)
                                                    {
                                                        <i class="fa-solid fa-star"></i>
                                                    }
                                                    @for (double i = 0; i < 5 - Math.Floor((double)car.Rating / ratings.Where(r=>r.Comment.CarId == car.Id).Count()); i++)
                                                    {
                                                        <i class="fa-solid fa-star" style="color: gray;"></i>
                                                    }

                                                    @if (ratings.Where(r => r.Comment.CarId == car.Id).Count() > 0)
                                                    {
                                                        <span>@(((double)car.Rating / ratings.Where(r => r.Comment.CarId == car.Id).Count()).ToString("F1"))</span>
                                                    }
                                                    else{
                                                            <i class="fas fa-star filled" style="color:gray;"></i>
                                                            <i class="fas fa-star filled" style="color:gray;"></i>
                                                            <i class="fas fa-star filled" style="color:gray;"></i>
                                                            <i class="fas fa-star filled" style="color:gray;"></i>
                                                            <i class="fas fa-star filled" style="color:gray;"></i>
                                                            <span>@(car.Rating).0</span>
                                                    }
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">@car.Brand.Name @car.Brand.Models.FirstOrDefault(m=>m.Id == car.ModelId).Name</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>@car.Company.CompanyName</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                    <ul style="padding-left: 2rem;">
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>@car.Transmission.Name</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>@car.Speed (km/h)</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>@car.FuelType.Name</p>
                                                    </li>
                                                </ul>
                                                    <ul style="padding-left: 2rem;">
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>@car.Engine.HorsePower (hp)</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p style="margin-left:15px;">@car.Year</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>@car.Capacity</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="choose-us">
        <div class="left-img">
            <img src="~/assets/images/index/choose-left.png" alt="">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="choose-us-title">
                <h2>Why Choose Us</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div data-aos="fade-down" class="choose-us-group">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img black-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Easy & Fast Booking</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img blue-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Many Pickup Location</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img orange-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Customer Satisfaction</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <div class="container">
            <div data-aos="fade-down" class="testimonials-title">
                <h2>What People say about us?</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="testimonials-body">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container">
            <div data-aos="fade-down" class="faq-title">
                <h2>Frequently Asked Questions</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="faq-accordion">
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            What is about rental car deals?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="first-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            In which areas do you operate?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="second-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="third-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="fourth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="fifth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="sixth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                            id quod?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="seventh-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->

<!-- scripts -->
<script src="~/signalr.js"></script>
<script src="~/jquery.js"></script>
<script src="~/site.js"></script>

<script src="~/assets/js/index.js"></script>
@section Scripts{
    <script>
        function filterBrands(brandId) {
            fetch('/Home/FilterBrands?brandId='+brandId)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('partialHomeCars').innerHTML = data;
                });
        }

    </script>
    <script>
        var searchInput = document.getElementById('searchInput');
        var selectedValue = document.getElementById('selectedValue');
        var suggestions = document.getElementById('suggestions');
        var dropdownContainer = document.getElementById('dropdownContainer');

        window.addEventListener("DOMContentLoaded", (event) => { 
            hideSuggestions();
        });

        function completeSearch(value) {
            searchInput.value = value;
        }

        function showSuggestions() {
            dropdownContainer.style.display = 'block';
        }

        function hideSuggestions() {
            dropdownContainer.style.display = 'none';
        }
        searchInput.addEventListener('keyup', function () {
            var query = searchInput.value;

            if (query.length >= 1) {
                fetch('/Search/GetMatchingData?searchQuery=' + encodeURIComponent(query))
                    .then(response => response.json())
                    .then(data => {

                        suggestions.innerHTML = '';

                        data.forEach(function (item) {
                            var suggestion = document.createElement('div');
                            suggestion.classList.add('suggestion');
                            suggestion.textContent = item;
                            suggestion.addEventListener('click', function () {
                                completeSearch(item);
                            });
                            suggestions.appendChild(suggestion);
                        });
                        dropdownContainer.style.display = 'block';
                    });
                showSuggestions();
            } else {
                hideSuggestions()
            }
        });

        document.addEventListener('click', function (event) {
            if (!searchInput.contains(event.target)) {
                hideSuggestions();
            }
        });
    </script>

    <script>

        $(window).scroll(function () {
            var specificSection = $("#facts");
            var specificScrollPosition = specificSection.offset().top-300;

            if ($(this).scrollTop() >= specificScrollPosition) {
                let counts = specificSection.find(".count");
                counts.each(function () {
                    let digit = parseInt($(this).attr("data"));
                    let currentDigit = 0;
                    let interval = setInterval(() => {
                        $(this).text(currentDigit);
                        currentDigit++;

                        if (currentDigit > digit) {
                            clearInterval(interval);
                        }
                    }, 100);
                });

                $(window).off("scroll");
            }
        });

    </script>

}
