@using DreamsRentBack.Entities.CarModels;
@using DreamsRentBack.ViewModels.CarViewModels;
@model List<CarExploreVM>
@{
    ViewData["Title"] = "Car List";
    List<Brand> brands = ViewBag.Brands;
    List<Body> bodies = ViewBag.Bodies;
    List<Rating> ratings = ViewBag.Ratings;
    double expensive = ViewBag.Expensive;
}

<!-- main start -->
<main>
    <section id="head">
        <div class="container">
            <div class="head-wrapper">
                <h2>Car Listings</h2>
                <div class="root">
                    <ul>
                        <li>
                            <a href="./index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            Car List
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="list">
        <div class="container">
            <div class="row">
                <div class="filter-bar col-lg-4">
                    <div class="form-wrapper">
                        <form asp-controller="Listing" asp-action="Index">
                            <div class="bar-head" style="background:#F2F7F6;">
                                <h3 style="color:gray;">What Are You Looking For?</h3>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Brand
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc" style="display:block;">
                                    <div class="labels">
                                        @foreach (Brand brand in brands)
                                        {
                                            <label for="#">
                                                <input type="checkbox" name="selectedBrands" value="@brand.Id">
                                                <span class="checkmark"></span>
                                                @brand.Name
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Body Type
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc" style="display:block;">
                                    <div class="labels">
                                        @foreach (Body body in bodies)
                                        {
                                            <label for="#">
                                                <input type="checkbox" name="selectedBodies" value="@body.Id">
                                                <span class="checkmark"></span>
                                                @body.Name
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Capacity
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc">
                                    <div class="labels" style="height:max-content;">
                                        <label for="#">
                                            <input type="radio" name="selectedCapacity" value="1">
                                            <span class="checkmark"></span>
                                            2-4 Passengers
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedCapacity" value="2">
                                            <span class="checkmark"></span>
                                            4-6 Passengers
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedCapacity" value="3">
                                            <span class="checkmark"></span>
                                            6-10 Passengers
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Price
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc">
                                    <div class="labels" style="height:max-content">
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="1">
                                            <span class="checkmark"></span>
                                            0 $ - 50$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="2">
                                            <span class="checkmark"></span>
                                            50 $ - 150$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="3">
                                            <span class="checkmark"></span>
                                            150 $ - 300$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="4">
                                            <span class="checkmark"></span>
                                            300 $ - 500$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="5">
                                            <span class="checkmark"></span>
                                            500 $ - 1000$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="6">
                                            <span class="checkmark"></span>
                                            1000 $ - @(expensive > 1000 ? expensive : "more than")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Rating
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc">
                                    <div class="labels">
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="1">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(1)</span>
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="2">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(2)</span>
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="3">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(3)</span>
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="4">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(4)</span>
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="5">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(5)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn">
                                <i class="fa-solid fa-filter"></i>
                                Filter Results
                            </button>
                        </form>
                    </div>
                </div>
                <div class="car-list col-lg-8">
                    <div class="row" id="cars-list">
                        @foreach (CarExploreVM car in Model)
                        {
                            <div class="car-item">
                            <div class="card">
                                <div class="img-details">
                                    <div class="card-img">
                                        <a asp-controller="Detail" asp-action="CarDetail" asp-route-Id="@car.Id">
                                            <img src="~/assets/images/cars/@car.CarPhotos.FirstOrDefault(cp=>cp.CarId == car.Id).Path" alt="">
                                        </a>
                                    </div>
                                    <div class="card-details w-100">
                                        <div class="card-body">
                                            <div class="body-head">
                                                <div class="title">
                                                    <h3>
                                                        <a href="#">@car.Brand.Name @car.Brand.Models.FirstOrDefault(m=>m.Id == car.ModelId).Name</a>
                                                    </h3>
                                                    <h6>
                                                        Brand:
                                                        <span>@car.Brand.Name</span>
                                                    </h6>
                                                </div>
                                                <div class="price-rating">
                                                    <div class="rating">
                                                            @for (double i = 0; i < Math.Floor((double)car.Rating / ratings.Where(r => r.Comment.CarId == car.Id).Count()); i++)
                                                            {
                                                                <i class="fa-solid fa-star"></i>
                                                            }
                                                            @for (double i = 0; i < 5 - Math.Floor((double)car.Rating / ratings.Where(r => r.Comment.CarId == car.Id).Count()); i++)
                                                            {
                                                                <i class="fa-solid fa-star" style="color: gray;"></i>
                                                            }

                                                            @if (ratings.Where(r => r.Comment.CarId == car.Id).Count() > 0)
                                                            {
                                                                <span>@(((double)car.Rating / ratings.Where(r => r.Comment.CarId == car.Id).Count()).ToString("F1"))</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@(car.Rating).0</span>
                                                            }
                                                    </div>
                                                    <h6 class="price">
                                                        $@car.Price.ToString("N0")
                                                        <span>/ Day</span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="body-mid">
                                                <ul>
                                                    <li>
                                                        <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        <p>@car.Transmission.Name</p>
                                                    </li>
                                                    <li>
                                                        <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        <p>@car.Speed (km/ph)</p>
                                                    </li>
                                                    <li>
                                                        <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        <p>@car.FuelType.Name</p>
                                                    </li>
                                                    <li>
                                                        <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        <p>@car.Year</p>
                                                    </li>
                                                    <li>
                                                        <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        <p>@car.Engine.HorsePower (hp)</p>
                                                    </li>
                                                    <li>
                                                        <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        <p>@car.Capacity</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="body-bottom">
                                                <div class="author">
                                                        <div class="author-img" style="width:55px;height:55px;margin-right:20px;border:1px solid gray;border-radius:50%;padding:5px">
                                                        <img src="~/assets/images/users/@car.Company.CompanyPhoto" style="width:100%;height:100%;" alt="">
                                                    </div>
                                                    <div class="author-name-location">
                                                        <div class="author-name">
                                                            <h5>
                                                                <a href="#">
                                                                    @car.Company.CompanyName
                                                                </a>
                                                            </h5>
                                                            <h6>
                                                                <i class="fa-sharp fa-solid fa-location-dot"></i>
                                                                @car.Company.Location
                                                            </h6>
                                                        </div>
                                                        <div class="author-location"></div>
                                                    </div>
                                                </div>
                                                <div class="rent-btn">
                                                    <a href="#" class="btn">
                                                        <span>
                                                            <i class="fa-solid fa-calendar"></i>
                                                        </span>
                                                        Rent Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="pagination-wrapper">
                        <nav class="pagination-nav">
                            <ul class="pagination">
                                <li class="previtem">
                                    <a class="page-link" href="#"><i class="fas fa-regular fa-arrow-left me-2"></i> Prev</a>
                                </li>
                                <li class="pagination-center">
                                    <div class="page-group">
                                        <ul>
                                            <li class="page-item">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="active page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">4</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">5</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nextitem">
                                    <a class="page-link" href="#">Next <i class="fas fa-regular fa-arrow-right ms-2"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->

<!-- Scripts-->

@section Scripts{

    <script>

        $('input[type="checkbox"][name="brands"]').on("change", function(){

            let selectedBrands = $('input[type="checkbox"][name="brands"]:checked').map(function(){
                return $(this).val();
            })

            console.log(selectedBrands)

        })

    </script>

}