@using DreamsRentBack.Entities.CarModels;
@using DreamsRentBack.ViewModels.CarViewModels;
@model List<CarExploreVM>
@{
    ViewData["Title"] = "Car List";
    List<Brand> brands = ViewBag.Brands;
    List<Body> bodies = ViewBag.Bodies;
    List<Rating> ratings = ViewBag.Ratings;
    double expensive = ViewBag.Expensive;
}

<!-- main start -->
<main>
    <section id="head">
        <div class="container">
            <div class="head-wrapper">
                <h2>Car Listings</h2>
                <div class="root">
                    <ul>
                        <li>
                            <a href="./index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            Car List
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="list">
        <div class="container">
            <div class="row">
                <div class="filter-bar col-lg-4">
                    <div class="form-wrapper">
                        <form method="post" id="myForm" onsubmit="event.preventDefault(); submitForm()">
                            <div class="bar-head" style="background:#F2F7F6;">
                                <h3 style="color:gray;">What Are You Looking For?</h3>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Brand
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc" style="display:block;">
                                    <div class="labels">
                                        @foreach (Brand brand in brands)
                                        {
                                            <label for="#">
                                                <input type="checkbox" name="selectedBrands" value="@brand.Id">
                                                <span class="checkmark"></span>
                                                @brand.Name
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Body Type
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc" style="display:block;">
                                    <div class="labels">
                                        @foreach (Body body in bodies)
                                        {
                                            <label for="#">
                                                <input type="checkbox" name="selectedBodies" value="@body.Id">
                                                <span class="checkmark"></span>
                                                @body.Name
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Capacity
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc">
                                    <div class="labels" style="height:max-content;">
                                        <label for="#">
                                            <input type="radio" name="selectedCapacity" value="1">
                                            <span class="checkmark"></span>
                                            2-4 Passengers
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedCapacity" value="2">
                                            <span class="checkmark"></span>
                                            4-6 Passengers
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedCapacity" value="3">
                                            <span class="checkmark"></span>
                                            6-10 Passengers
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Price
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc">
                                    <div class="labels" style="height:max-content">
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="1">
                                            <span class="checkmark"></span>
                                            0 $ - 50$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="2">
                                            <span class="checkmark"></span>
                                            50 $ - 150$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="3">
                                            <span class="checkmark"></span>
                                            150 $ - 300$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="4">
                                            <span class="checkmark"></span>
                                            300 $ - 500$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="5">
                                            <span class="checkmark"></span>
                                            500 $ - 1000$
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedPrice" value="6">
                                            <span class="checkmark"></span>
                                            1000 $ - @(expensive > 1000 ? expensive : "more than")
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion">
                                <h4 class="accordion-title">
                                    <p href="#">
                                        Rating
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </p>
                                </h4>
                                <div class="accordion-desc">
                                    <div class="labels">
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="1">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(1)</span>
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="2">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(2)</span>
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="3">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(3)</span>
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="4">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-regular fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(4)</span>
                                        </label>
                                        <label for="#">
                                            <input type="radio" name="selectedRating" value="5">
                                            <span class="checkmark"></span>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <i class="fa-solid fa-star" style="color: #ff9307;font-size:16px;margin-right:5px;"></i>
                                            <span>(5)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn">
                                <i class="fa-solid fa-filter"></i>
                                Filter Results
                            </button>
                        </form>
                    </div>
                </div>
                <div class="car-list col-lg-8" id="partialListing">
                    @await Html.PartialAsync("_partialListing",Model)
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->

<!-- Scripts-->

@section Scripts{

    <script>

        $('input[type="checkbox"][name="brands"]').on("change", function(){

            let selectedBrands = $('input[type="checkbox"][name="brands"]:checked').map(function(){
                return $(this).val();
            })

            console.log(selectedBrands)

        })

    </script>
    <script>
        
        function submitForm() {
            var formData = new FormData(document.getElementById("myForm"));

            fetch('/Listing/Index', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(data => {
                    document.getElementById('partialListing').innerHTML = data;
                });
        }

    </script>
}