@using DreamsRentBack.Entities.CarModels;
@using DreamsRentBack.Entities.ClientModels;
@using DreamsRentBack.ViewModels.CarViewModels;
@model CarDetailVM
@{
    ViewData["Title"] = "CarDetail";
    List<ExtraService> extraServices = ViewBag.Services;
    List<CarFeatures> carFeatures = ViewBag.Features;
    List<User> users = ViewBag.Users;
    List<Rating> ratings = ViewBag.Ratings;
}

<!-- main start -->
<main>
    <section id="head">
        <div class="container">
            <div class="head-wrapper">
                <h2>Details</h2>
                <div class="root">
                    <ul>
                        <li>
                            <a href="./index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            Details
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="detail-head">
        <div class="container">
            <div class="detail-head-wrapper">
                <div class="detail-head-left">
                    <div class="car-rate-info">
                        <div class="rate">
                            <span class="year" style="font-size:20px">@Model.Year</span>
                            @for (double i = 0; i < Math.Floor(Model.Rating / ratings.Where(r => r.Comment.CarId == Model.Id).Count()); i++)
                            {
                                <i class="fas fa-star filled" style="font-size:20px"></i>
                            }
                            @for (double i = 0; i < 5 - Math.Floor(Model.Rating / ratings.Where(r => r.Comment.CarId == Model.Id).Count()); i++)
                            {
                                <i class="fas fa-star filled" style="color:gray;font-size:20px"></i>
                            }
                            @if (ratings.Where(r => r.Comment.CarId == Model.Id).Count() > 0)
                            {
                                <span class="rate-point">@((Model.Rating / ratings.Where(r => r.Comment.CarId == Model.Id).Count()).ToString("F1"))</span>
                            }
                            else
                            {
                                <i class="fas fa-star filled" style="color:gray;font-size:20px"></i>
                                <i class="fas fa-star filled" style="color:gray;font-size:20px"></i>
                                <i class="fas fa-star filled" style="color:gray;font-size:20px"></i>
                                <i class="fas fa-star filled" style="color:gray;font-size:20px"></i>
                                <i class="fas fa-star filled" style="color:gray;font-size:20px"></i>
                                <span style="font-size:20px!important">(@(Model.Rating).0)</span>
                            }
                        </div>
                        <div class="info">
                            <h3>@Model.Brand.Name @Model.Brand.Models.FirstOrDefault(m=>m.Id == Model.ModelId).Name</h3>
                            <div class="car-location-view">
                                <div class="car-location">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                    <span>
                                        <b>Location:</b>
                                        @Model.Location
                                    </span>
                                </div>
                                <div class="car-view">
                                    <i class="fa-solid fa-eye"></i>
                                    <span>
                                        <b>Views:</b>
                                        @Model.Views
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-head-right">
                    <a href="#">
                        <i class="fa-solid fa-heart"></i>
                        Whishlist
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="detail-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 body-left">
                    <div class="car-images">
                        <div class="slider-for main-img">
                            @foreach (CarPhoto photo in Model.CarPhotos)
                            {
                                <div class="item">
                                    <img src="~/assets/images/cars/@photo.Path" alt="">
                                </div>
                            }
                        </div>
                        <div class="slider-nav">
                            @foreach (CarPhoto photo in Model.CarPhotos)
                            {
                                <div class="item">
                                    <img src="~/assets/images/cars/@photo.Path" alt="">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="left-components extra-service">
                        <div class="component-title">
                            <h4>Extra Service</h4>
                        </div>
                        <div class="row">
                            <ul class="col-lg-4" style="padding:0;list-style:none;">
                                @foreach (ExtraServicesAndCars servicesAndCars in Model.ServicesAndCars)
                                {
                                    @foreach (ExtraService extraService in extraServices.Take(4))
                                    {
                                        @if(extraService.ServicesAndCars.Any(sc=>sc.Id == servicesAndCars.Id))
                                        {
                                            <li>
                                                <span style="display:block;padding:5px 10px;">@extraService.Name - $@extraService.Price</span>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                            <ul class="col-lg-4" style="padding:0;list-style:none;">
                                @foreach (ExtraServicesAndCars servicesAndCars in Model.ServicesAndCars)
                                {
                                    @foreach (ExtraService extraService in extraServices.Skip(4).Take(4))
                                    {
                                        @if (extraService.ServicesAndCars.Any(sc => sc.Id == servicesAndCars.Id))
                                        {
                                            <li>
                                                <span style="display:block;padding:5px 10px;">@extraService.Name - $@extraService.Price</span>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                            <ul class="col-lg-4" style="padding:0;list-style:none;">
                            @foreach (ExtraServicesAndCars servicesAndCars in Model.ServicesAndCars)
                            {
                                @foreach (ExtraService extraService in extraServices.Skip(8).Take(4))
                                {
                                    @if (extraService.ServicesAndCars.Any(sc => sc.Id == servicesAndCars.Id))
                                    {
                                        <li>
                                            <span style="display:block;padding:5px 10px;">@extraService.Name - $@extraService.Price</span>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        </div>
                    </div>
                    <div class="left-components car-specifications">
                        <div class="component-title">
                            <h4>Specifications</h4>
                        </div>
                        <div class="specifications-body">
                            <div class="row">
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-1.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Body</span>
                                        <h6>@Model.Body.Name</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-2.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Make</span>
                                        <h6>@Model.Brand.Name</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-3.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Transmission</span>
                                        <h6>@Model.Transmission.Name</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-4.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Fuel Type</span>
                                        <h6>@Model.FuelType.Name</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-5.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Speed</span>
                                        <h6>@Model.Speed (km/ph)</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-6.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Drivetrian</span>
                                        <h6>@Model.Drivetrian.Name</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-7.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Year</span>
                                        <h6>@Model.Year</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-8.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>AC</span>
                                        <h6>@Model.AirCondition.Name</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-9.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>VIN</span>
                                        <h6>@(Model.VIN.Substring(0,10)+"...")</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-10.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Doors</span>
                                        <h6>@Model.Door</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-11.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Brake</span>
                                        <h6>@Model.Brake.Name</h6>
                                    </div>
                                </div>
                                <div class="specification col-lg-3">
                                    <div class="specification-img">
                                        <img src="~/assets/images/details/spesifications/specification-icon-12.svg" alt="">
                                    </div>
                                    <div class="specification-info">
                                        <span>Engine (Hp)</span>
                                        <h6>@Model.Engine.HorsePower</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left-components car-features">
                        <div class="component-title">
                            <h4>Car Features</h4>
                        </div>
                        <div class="features-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <ul>
                                        @foreach (CarFeaturesAndCars carFeaturesAndCars in Model.FeaturesAndCars)
                                        {
                                            @foreach (CarFeatures carFeature in carFeatures.Take(4))
                                            {
                                                @if (carFeature.FeaturesAndCars.Any(sc => sc.Id == carFeaturesAndCars.Id))
                                                {
                                                    <li>
                                                        <span>
                                                            <i class="fa-solid fa-check-double"></i>
                                                        </span>
                                                        @carFeature.Name
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        @foreach (CarFeaturesAndCars carFeaturesAndCars in Model.FeaturesAndCars)
                                        {
                                            @foreach (CarFeatures carFeature in carFeatures.Skip(4).Take(4))
                                            {
                                                @if (carFeature.FeaturesAndCars.Any(sc => sc.Id == carFeaturesAndCars.Id))
                                                {
                                                    <li>
                                                        <span>
                                                            <i class="fa-solid fa-check-double"></i>
                                                        </span>
                                                        @carFeature.Name
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul>
                                        @foreach (CarFeaturesAndCars carFeaturesAndCars in Model.FeaturesAndCars)
                                        {
                                            @foreach (CarFeatures carFeature in carFeatures.Skip(8).Take(4))
                                            {
                                                @if (carFeature.FeaturesAndCars.Any(sc => sc.Id == carFeaturesAndCars.Id))
                                                {
                                                    <li>
                                                        <span>
                                                            <i class="fa-solid fa-check-double"></i>
                                                        </span>
                                                        @carFeature.Name
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left-components description">
                        <div class="component-title">
                            <h4>Description of Listing</h4>
                        </div>
                        <div class="description-items">

                            <p>@Model.Description</p>
                        </div>
                    </div>
                    <div class="left-components reviews">
                        <div class="component-title">
                            <h4>Reviews(@Model.Comments.Count())</h4>
                        </div>
                        <div class="reviews-body" style="height:450px;overflow-y:scroll;">
                            @foreach(Comment comment in Model.Comments)
                            {
                                <div class="review">
                                <div class="review-head">
                                    <div class="person-img-info">
                                        <div class="person-img">
                                            @if(comment.User is null)
                                            {
                                                <img src="~/assets/images/users/Default_pfp.svg.png" style="border-radius:50%;border: 1px solid gray" alt="">
                                            }
                                            else
                                            {
                                                <img src="~/assets/images/users/@users.FirstOrDefault(u=>u.Id == comment.User.Id).UserPhoto" style="border-radius:50%;border: 1px solid gray" alt="">
                                            }
                                        </div>
                                        <div class="person-info">
                                            @if(comment.User is null)
                                            {
                                                <h6 class="person-name">@comment.Fullname</h6>
                                            }
                                            else
                                            {
                                                <h6 class="person-name">@users.FirstOrDefault(u=>u.Id == comment.User.Id).Name @users.FirstOrDefault(u=>u.Id == comment.User.Id).Surname</h6>
                                            }
                                            <p class="comment-add-date">@comment.CreationTime</p>
                                        </div>
                                    </div>
                                    <div class="rate-point">
                                        @for (double i = 0; i < comment.Rating.Point; i++)
                                        {
                                            <i class="fas fa-star filled"></i>
                                        }
                                        @for (int i = 0; i < 5 - comment.Rating.Point; i++)
                                        {
                                            <i class="fas fa-star filled" style="color:gray"></i>
                                        }
                                        <span>(@(comment.Rating.Point).0)</span>
                                    </div>
                                </div>
                                <div class="comment">
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="left-components add-comment">
                        <div class="component-title">
                            <h4>Leave a Comment</h4>
                        </div>
                        <div class="add-comment-body">
                            <div class="comment-from">
                                <form asp-controller="Detail" asp-action="AddComment" asp-route-Id="@Model.Id">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="add-rate">
                                        <span>Rate</span>
                                        <i class="fa-regular fa-star rate-it" onclick="fillStars(1)" style="cursor:pointer;font-size:20px;">
                                            <input asp-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Rating.Point" type="radio" value="1" style="display:none"/>
                                        </i>
                                        <i class="fa-regular fa-star rate-it" onclick="fillStars(2)" style="cursor:pointer;font-size:20px;">
                                            <input asp-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Rating.Point" type="radio"  value="2" style="display:none"/>
                                        </i>
                                        <i class="fa-regular fa-star rate-it" onclick="fillStars(3)" style="cursor:pointer;font-size:20px;">
                                            <input asp-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Rating.Point" type="radio" value="3" style="display:none"/>
                                        </i>
                                        <i class="fa-regular fa-star rate-it" onclick="fillStars(4)" style="cursor:pointer;font-size:20px;">
                                            <input asp-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Rating.Point" type="radio" value="4" style="display:none"/>
                                        </i>
                                        <i class="fa-regular fa-star rate-it" onclick="fillStars(5)" style="cursor:pointer;font-size:20px;">
                                            <input asp-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Rating.Point" type="radio" value="5" style="display:none" />
                                        </i>
                                    </div>
                                    <div class="row">
                                        @if (!User.Identity.IsAuthenticated)
                                        {    
                                            <div class="col-lg-6 fullname form-group">
                                                <label for="#">
                                                    Fullname
                                                    <span>*</span>
                                                </label>
                                                <input asp-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Fullname">
                                                <span asp-validation-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Fullname" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-6 email-adress form-group">
                                                <label for="#">
                                                    Email Adress
                                                    <span>*</span>
                                                </label>
                                                <input asp-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Email" type="email">
                                            </div>
                                        }
                                        <div class="col-lg-12 comment form-group">
                                            <label for="#">Comments</label>
                                            <textarea asp-for="Comments.FirstOrDefault(c=>c.CarId == Model.Id).Text" cols="30" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn" type="submit">Submit Review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 body-right">
                    <div class="sticky">
                        <div class="right-components check-availability">
                            <div class="component-title">
                                <h4>Check Availability</h4>
                            </div>
                            <div class="form-wrapper">
                                <form action="#">
                                    <ul>
                                        <li>
                                            <label for="">Pickup Location</label>
                                            <input type="text" placeholder="exm: Baku, Gara Garayev avenue, Qaraçuxur">
                                        </li>
                                        <li>
                                            <label for="">Dropoff Location</label>
                                            <input type="text" placeholder="emx: Gara Garayev avenue, Qaraçuxur">
                                        </li>
                                        <li>
                                            <label for="">Pickup Date</label>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="date" class="date-now">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="time" class="time-now">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="">Return Date</label>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="date" class="date-now">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="time" class="time-now">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="submit">
                                        <button class="btn">check Availability</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="right-components owner-details">
                            <div class="component-title">
                                <h4>Listing Owner Details</h4>
                            </div>
                            <div class="owner-img-info">
                                <div class="owner-img">
                                    <a href="#">
                                        <img src="~/assets/images/owners/avatar-07.jpg" alt="owner-img">
                                    </a>
                                </div>
                                <div class="owner-info">
                                    <h5>Brooklyn Cars</h5>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <span>(5.0)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-wrapper">
                                <ul class="booking-list">
                                    <li>
                                        Listings
                                        <span>05</span>
                                    </li>
                                    <li>
                                        Bookings
                                        <span>225</span>
                                    </li>
                                    <li>
                                        Verification
                                        <h6>Verified</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="message-btn">
                                <a href="#" class="btn">Message to owner</a>
                            </div>
                        </div>
                        <div class="right-components share-car">
                            <div class="component-title">
                                <h4>Share this car</h4>
                            </div>
                            <ul class="wrapper">
                                <li class="button">
                                    <a href="#" class="fb icon">
                                        <i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i>
                                    </a>
                                </li>
                                <li class="button">
                                    <a href="#" class="instagram icon">
                                        <i class="fab fa-instagram fi-icon"></i>
                                    </a>
                                </li>
                                <li class="button">
                                    <a href="#" class="be icon">
                                        <i class="fab fa-behance fi-icon"></i>
                                    </a>
                                </li>
                                <li class="button">
                                    <a href="#" class="twitter icon">
                                        <i class="fab fa-twitter fi-icon"></i>
                                    </a>
                                </li>
                                <li class="button">
                                    <a href="#" class="in icon">
                                        <i class="fab fa-linkedin fi-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-components view-location">
                            <div class="component-title">
                                <h4>View Location</h4>
                            </div>
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="100%" height="100%" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=Code Academy, Bakü, Azerbaycan&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row slider-wrapper">
                <div class="col-lg-12 slider">
                    <div class="slider-head">
                        <h3>You May be Interested in</h3>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="car-item">
                                <div class="car-img">
                                    <a href="./detail.html">
                                        <img src="~/assets/images/cars/49702_VdWRZyZ6YhOUk7K97Ocqlw.jpg"
                                             alt="">
                                    </a>
                                    <div class="fav">
                                        <span>Toyota</span>
                                        <a href="#">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="car-content">
                                    <div class="car-features">
                                        <a href="#" class="author-img">
                                            <img src="~/assets/images/index/cars/car-logo/WpcTavg99b5XpK6STzSLZ8.jpg"
                                                 alt="">
                                        </a>
                                        <h3 class="car-title">
                                            <a href="#">
                                                Toyota Camry SE Hybrid
                                            </a>
                                        </h3>
                                        <div class="car-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <span>(5.0)</span>
                                        </div>
                                    </div>
                                    <div class="car-details">
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg"
                                                         alt="">
                                                </span>
                                                <p>Auto</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg"
                                                         alt="">
                                                </span>
                                                <p>10 KM</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg"
                                                         alt="">
                                                </span>
                                                <p>Petrol</p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg"
                                                         alt="">
                                                </span>
                                                <p>Power</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg"
                                                         alt="">
                                                </span>
                                                <p>2023</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg"
                                                         alt="">
                                                </span>
                                                <p>5 Persons</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="car-location-price">
                                        <div class="car-location">
                                            <span>
                                                <i class="fa-solid fa-location-dot"></i>
                                                Germany
                                            </span>
                                        </div>
                                        <div class="car-price">
                                            <h6>
                                                $400
                                                <span>/Day</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="car-button">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-calendar"></i>
                                            </span>
                                            Rent Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-item">
                                <div class="car-img">
                                    <a href="./detail.html">
                                        <img src="~/assets/images/cars/49702_VdWRZyZ6YhOUk7K97Ocqlw.jpg"
                                             alt="">
                                    </a>
                                    <div class="fav">
                                        <span>Toyota</span>
                                        <a href="#">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="car-content">
                                    <div class="car-features">
                                        <a href="#" class="author-img">
                                            <img src="~/assets/images/index/cars/car-logo/WpcTavg99b5XpK6STzSLZ8.jpg"
                                                 alt="">
                                        </a>
                                        <h3 class="car-title">
                                            <a href="#">
                                                Toyota Camry SE Hybrid
                                            </a>
                                        </h3>
                                        <div class="car-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <span>(5.0)</span>
                                        </div>
                                    </div>
                                    <div class="car-details">
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg"
                                                         alt="">
                                                </span>
                                                <p>Auto</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg"
                                                         alt="">
                                                </span>
                                                <p>10 KM</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg"
                                                         alt="">
                                                </span>
                                                <p>Petrol</p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg"
                                                         alt="">
                                                </span>
                                                <p>Power</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg"
                                                         alt="">
                                                </span>
                                                <p>2023</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg"
                                                         alt="">
                                                </span>
                                                <p>5 Persons</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="car-location-price">
                                        <div class="car-location">
                                            <span>
                                                <i class="fa-solid fa-location-dot"></i>
                                                Germany
                                            </span>
                                        </div>
                                        <div class="car-price">
                                            <h6>
                                                $400
                                                <span>/Day</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="car-button">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-calendar"></i>
                                            </span>
                                            Rent Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-item">
                                <div class="car-img">
                                    <a href="./detail.html">
                                        <img src="~/assets/images/cars/49702_VdWRZyZ6YhOUk7K97Ocqlw.jpg"
                                             alt="">
                                    </a>
                                    <div class="fav">
                                        <span>Toyota</span>
                                        <a href="#">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="car-content">
                                    <div class="car-features">
                                        <a href="#" class="author-img">
                                            <img src="~/assets/images/index/cars/car-logo/WpcTavg99b5XpK6STzSLZ8.jpg"
                                                 alt="">
                                        </a>
                                        <h3 class="car-title">
                                            <a href="#">
                                                Toyota Camry SE Hybrid
                                            </a>
                                        </h3>
                                        <div class="car-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <span>(5.0)</span>
                                        </div>
                                    </div>
                                    <div class="car-details">
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg"
                                                         alt="">
                                                </span>
                                                <p>Auto</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg"
                                                         alt="">
                                                </span>
                                                <p>10 KM</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg"
                                                         alt="">
                                                </span>
                                                <p>Petrol</p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg"
                                                         alt="">
                                                </span>
                                                <p>Power</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg"
                                                         alt="">
                                                </span>
                                                <p>2023</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg"
                                                         alt="">
                                                </span>
                                                <p>5 Persons</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="car-location-price">
                                        <div class="car-location">
                                            <span>
                                                <i class="fa-solid fa-location-dot"></i>
                                                Germany
                                            </span>
                                        </div>
                                        <div class="car-price">
                                            <h6>
                                                $400
                                                <span>/Day</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="car-button">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-calendar"></i>
                                            </span>
                                            Rent Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-item">
                                <div class="car-img">
                                    <a href="./detail.html">
                                        <img src="~/assets/images/cars/49702_VdWRZyZ6YhOUk7K97Ocqlw.jpg"
                                             alt="">
                                    </a>
                                    <div class="fav">
                                        <span>Toyota</span>
                                        <a href="#">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="car-content">
                                    <div class="car-features">
                                        <a href="#" class="author-img">
                                            <img src="~/assets/images/index/cars/car-logo/WpcTavg99b5XpK6STzSLZ8.jpg"
                                                 alt="">
                                        </a>
                                        <h3 class="car-title">
                                            <a href="#">
                                                Toyota Camry SE Hybrid
                                            </a>
                                        </h3>
                                        <div class="car-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <span>(5.0)</span>
                                        </div>
                                    </div>
                                    <div class="car-details">
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg"
                                                         alt="">
                                                </span>
                                                <p>Auto</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg"
                                                         alt="">
                                                </span>
                                                <p>10 KM</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg"
                                                         alt="">
                                                </span>
                                                <p>Petrol</p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg"
                                                         alt="">
                                                </span>
                                                <p>Power</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg"
                                                         alt="">
                                                </span>
                                                <p>2023</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg"
                                                         alt="">
                                                </span>
                                                <p>5 Persons</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="car-location-price">
                                        <div class="car-location">
                                            <span>
                                                <i class="fa-solid fa-location-dot"></i>
                                                Germany
                                            </span>
                                        </div>
                                        <div class="car-price">
                                            <h6>
                                                $400
                                                <span>/Day</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="car-button">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-calendar"></i>
                                            </span>
                                            Rent Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="car-item">
                                <div class="car-img">
                                    <a href="./detail.html">
                                        <img src="~/assets/images/cars/49702_VdWRZyZ6YhOUk7K97Ocqlw.jpg"
                                             alt="">
                                    </a>
                                    <div class="fav">
                                        <span>Toyota</span>
                                        <a href="#">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="car-content">
                                    <div class="car-features">
                                        <a href="#" class="author-img">
                                            <img src="~/assets/images/index/cars/car-logo/WpcTavg99b5XpK6STzSLZ8.jpg"
                                                 alt="">
                                        </a>
                                        <h3 class="car-title">
                                            <a href="#">
                                                Toyota Camry SE Hybrid
                                            </a>
                                        </h3>
                                        <div class="car-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <span>(5.0)</span>
                                        </div>
                                    </div>
                                    <div class="car-details">
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg"
                                                         alt="">
                                                </span>
                                                <p>Auto</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg"
                                                         alt="">
                                                </span>
                                                <p>10 KM</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg"
                                                         alt="">
                                                </span>
                                                <p>Petrol</p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg"
                                                         alt="">
                                                </span>
                                                <p>Power</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg"
                                                         alt="">
                                                </span>
                                                <p>2023</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg"
                                                         alt="">
                                                </span>
                                                <p>5 Persons</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="car-location-price">
                                        <div class="car-location">
                                            <span>
                                                <i class="fa-solid fa-location-dot"></i>
                                                Germany
                                            </span>
                                        </div>
                                        <div class="car-price">
                                            <h6>
                                                $400
                                                <span>/Day</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="car-button">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-calendar"></i>
                                            </span>
                                            Rent Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->

<!-- Scripts -->
<script src="~/assets/js/detail.js"></script>

@section Scripts{

    <script>
       let stars =  document.querySelectorAll(".rate-it")
       var prevSibs = [];

       stars.forEach(star=>{
           star.addEventListener("click", function(){

                let point = star.firstElementChild

                point.checked = true;

                console.log(star.firstElementChild)
           })
       })

       function fillStars(starIndex) {
          
          const stars = document.querySelectorAll('.rate-it');

          for (let i = 0; i < starIndex; i++) {
            stars[i].classList.add('fa-solid');
            stars[i].classList.remove('fa-regular');
          }

          for (let i = starIndex; i < stars.length; i++) {
            stars[i].classList.remove('fa-solid');
            stars[i].classList.add('fa-regular');
          }
       }
    </script>
}