@using DreamsRentBack.Entities.ClientModels;
@using DreamsRentBack.ViewModels.Account;
@model ConsumerAccountVM
@{
    ViewData["Title"] = "My Account";
}

<style>
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinner {
        -moz-appearance: textfield;
    }
    .pay-card-inout{
        display:block;
        border: 1px solid #F4F4F4;
        outline: none;
        padding: 5px 10px;
        width:100%;
    }
</style>
<!-- main start -->
<main>
    <section id="account">
        <div class="container">
            <div class="profile row">
                <div class="col-lg-3">
                    <div class="photo">
                        <img src="~/assets/images/users/@Model.UserPhoto" alt="">
                        <form id="changePhotoForm" asp-action="ChangeConsumerPhoto" asp-route-Id="@Model.Id" enctype="multipart/form-data">
                            <input asp-for="iff_UserPhoto" style="display:none;" class="change-photo-input" accept="image/*" />
                        </form>
                    </div>
                    <div class="edit-photo">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                </div>
                <div class="fullname col-lg-9">
                    <h1>@Model.Name @Model.Surname</h1>
                    <h4>Consumer</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="side-bar">
                        <ul class="bar-list">
                            <li id="account-detail" class="active-li">
                                Account Details
                            </li>
                            <li id="li-wishlist">
                                Wishlist
                            </li>
                            <li id="li-order-history">
                                Order History
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="main-side">
                        <div class="consumer-account account-details active-main">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="person-info">
                                        <h3>Personal Info</h3>
                                        <div class="info-body">
                                            <p>@Model.Name @Model.Surname</p>
                                            <p>@Model.Email</p>
                                            <p>@Model.PhoneNumber</p>
                                        </div>
                                        <a type="button" class="btn btn-primary edit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                            <i class="fa-solid fa-pen"></i>
                                            Edit
                                        </a>
                                        <div class="modal fade" id="staticBackdrop" style="backdrop-filter:blur(10px);" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form asp-action="ChangeConsumerDetails" asp-route-Id="@Model.Id">
                                                        <div class="modal-body">
                                                            <div class="form-group" style="margin-bottom:25px">
                                                                <label style="margin-bottom:5px">Fullnam <span style="color:red">*</span></label>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <input asp-for="Name" class="col-lg-6 form-control" />
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input asp-for="Surname" class="col-lg-6 form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom:25px">
                                                                <label style="margin-bottom:5px">Email <span style="color:red">*</span></label>
                                                                <input asp-for="Email" value="@Model.Email" type="email" class="col-lg-12 form-control" />
                                                            </div>
                                                            <div class="form-group" style="margin-bottom:25px">
                                                                <label style="margin-bottom:5px">Phone Number <span style="color:red">*</span></label>
                                                                <input asp-for="PhoneNumber" value="@Model.PhoneNumber" type="number" class="no-spinner col-lg-12 form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-warning" style="color:white;">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="address-info">
                                        <h3>Payment Card</h3>
                                        @if (Model.PayCard != null)
                                        {
                                            <form>
                                                <div class="info-body">
                                                    <p>@Model.PayCard.HolderName @Model.PayCard.HolderSurname</p>
                                                    <p>XXXX-XXXX-XXXX-@Model.PayCard.CardNumber.Substring(12, 4)</p>
                                                    <p>@Model.PayCard.Date</p>
                                                </div>
                                                <a class="edit" href="#">
                                                    <i class="fa-solid fa-pen"></i>
                                                    Edit
                                                </a>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-action="AddDebitCard" asp-route-Id="@Model.Id">
                                                <div class="info-body">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <input name="HolderName" class="pay-card-inout" type="text" placeholder="HOLDER NAME" />
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <input name="HolderSurname" class="pay-card-inout" type="text" placeholder="HOLDER SURNAME" />
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <input name="CardNumber" class="pay-card-inout cardNumber" type="text" placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="19" id="cardNumber" onkeyup="formatCardNumber(this)" style="margin:10px 0;" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input name="Date" class="pay-card-inout date" onkeyup="formatDate(this)" type="text" placeholder="Date" maxlength="5" style="margin:10px 0 0;" />
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <input name="cvv" class="pay-card-inout cvv" type="text" placeholder="cvv" style="margin:10px 0 0;" maxlength="3" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="edit" href="#">
                                                    Save
                                                </button>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="consumer-account wishlist">
                            @if (Model.Wishlist == null || Model.Wishlist.wishlistItems.Count() == 0)
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="wishlist-wrapper">
                                            <h5>Wishlist is Empty!</h5>
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 122.88 107.21"><title>add-to-wishlist</title><path d="M73.13,93.77,59.58,107.21,44,92.19c-2.43-2.35-5.25-4.92-8.18-7.59C19.93,70.14.79,52.69,0,31.09l0-1.65A28.51,28.51,0,0,1,9,8.54,31.68,31.68,0,0,1,29.57.31l1.71,0c13.72.18,20,6.2,28.18,14.24C66.21,7.38,71.81,1.52,83.21.21a33.07,33.07,0,0,1,18.62,3.37,34.41,34.41,0,0,1,12.24,10.25,31,31,0,0,1,6,14.86A30.55,30.55,0,0,1,116.82,46c-.41.8-.88,1.65-1.39,2.52l-.45.74A30.65,30.65,0,0,1,73.13,93.77Zm15.22-35.6a3.69,3.69,0,0,1,.3-1.48l0-.06a3.8,3.8,0,0,1,2.06-2,3.94,3.94,0,0,1,1.47-.31h0a3.87,3.87,0,0,1,1.48.29,4.15,4.15,0,0,1,1.26.84,3.87,3.87,0,0,1,.84,1.25l0,.07a4,4,0,0,1,.28,1.4v7.78h7.75a3.87,3.87,0,0,1,1.48.29,3.92,3.92,0,0,1,1.26.84,4,4,0,0,1,.84,1.25l0,.07a3.78,3.78,0,0,1,.28,1.35v.15a3.86,3.86,0,0,1-.29,1.41,4.15,4.15,0,0,1-.84,1.26,3.7,3.7,0,0,1-1.25.83l-.07,0a4,4,0,0,1-1.39.28H96.12v7.75a3.87,3.87,0,0,1-.3,1.48A3.92,3.92,0,0,1,95,84.17l-.08.07a3.72,3.72,0,0,1-1.17.77l-.07,0a3.8,3.8,0,0,1-1.4.28h0a4.07,4.07,0,0,1-1.48-.3,3.85,3.85,0,0,1-2.09-2.08,3.79,3.79,0,0,1-.3-1.47V73.69H80.6a3.87,3.87,0,0,1-1.48-.3l-.06,0a3.58,3.58,0,0,1-1.2-.81A3.87,3.87,0,0,1,77,71.3l0-.07a4,4,0,0,1-.28-1.4v0A4,4,0,0,1,77,68.33a3.86,3.86,0,0,1,.84-1.27,4,4,0,0,1,1.25-.83,3.71,3.71,0,0,1,1.47-.3h7.78V58.17Zm21.7-13.31c.34-.58.67-1.17,1-1.76a24.13,24.13,0,0,0,2.56-13.67,24.39,24.39,0,0,0-4.72-11.73,27.78,27.78,0,0,0-9.92-8.31A26.62,26.62,0,0,0,84,6.68c-9.13,1-14,6.2-19.9,12.47l-4.43,4.64L55.2,19.45c-7.27-7.14-12.74-12.52-24-12.67l-1.4,0a25.21,25.21,0,0,0-16.36,6.5A22.12,22.12,0,0,0,6.49,29.52l0,1.34c.67,18.85,18.72,35.3,33.67,48.93,2.89,2.63,5.67,5.16,8.32,7.72l11,10.61,9-8.91a30.66,30.66,0,0,1,41.55-44.35Zm-.76,7.87a24.14,24.14,0,1,0,7.07,17.07,24.06,24.06,0,0,0-7.07-17.07Z" /></svg>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @foreach (WishlistItem item in Model.Wishlist.wishlistItems)
                                {
                                    <div class="row align-items-center mb-2">
                                        <div class="col-lg-12">
                                            <div class="wishlist-wrapper">
                                                <div class="row align-items-center border-primary">
                                                    <a asp-controller="Detail" asp-action="CarDetail" asp-route-Id="@item.CarId" class="col-lg-2">
                                                        <img class="w-100" src="~/assets/images/cars/@item.CarPhoto" />
                                                    </a>
                                                    <div class="col-lg-4">
                                                        <span>Brand & Model: @item.CarName</span>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <span>Price: $@item.Price</span>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <span>Company: @item.CompanyName</span>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <a asp-controller="Wishlist" asp-action="RemoveWishItem" asp-route-Id="@item.Id">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="consumer-account order-history">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="order-wrapper">
                                        @if (Model.Orders == null)
                                        {
                                            <h5>Order History is Empty!</h5>
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 117.78 122.88"><title>order-history</title><path d="M70.71,116.29H7.46a7.48,7.48,0,0,1-5.27-2.19L2,113.87a7.43,7.43,0,0,1-2-5V7.46A7.45,7.45,0,0,1,2.19,2.19L2.42,2a7.42,7.42,0,0,1,5-2H91.88a7.48,7.48,0,0,1,7.46,7.46V66.63a3.21,3.21,0,0,1-.06.63,28.75,28.75,0,1,1-28.57,49ZM85.18,82.12h2.89a2,2,0,0,1,1.43.59,2.06,2.06,0,0,1,.6,1.44V94.77h9.59a2,2,0,0,1,2,2v3a2.12,2.12,0,0,1-.6,1.44l-.08.07a2,2,0,0,1-1.35.52H84a1,1,0,0,1-1-1V84a2,2,0,0,1,.59-1.29,2,2,0,0,1,1.43-.6Zm7.75-16.47V7.46a1.1,1.1,0,0,0-1.05-1H7.46a1.08,1.08,0,0,0-.66.23l-.08.08a1.06,1.06,0,0,0-.31.74V108.84a1,1,0,0,0,.23.65l.09.08a1,1,0,0,0,.73.32H65A28.75,28.75,0,0,1,89,65.38a28,28,0,0,1,3.9.27Zm12.36,12.22A23,23,0,1,0,112,94.13a22.92,22.92,0,0,0-6.73-16.26Zm-84.5-3.78h9A1.18,1.18,0,0,1,31,75.27v9a1.18,1.18,0,0,1-1.18,1.18h-9a1.18,1.18,0,0,1-1.18-1.18v-9a1.18,1.18,0,0,1,1.18-1.18Zm22,9.28a3.65,3.65,0,0,1,0-7.18h9.58a3.65,3.65,0,0,1,0,7.18Zm-22-61.22h9A1.18,1.18,0,0,1,31,23.33v9a1.18,1.18,0,0,1-1.18,1.18h-9a1.18,1.18,0,0,1-1.18-1.18v-9a1.18,1.18,0,0,1,1.18-1.18Zm22,9.27a3.33,3.33,0,0,1-3-3.58,3.34,3.34,0,0,1,3-3.59H78.25a3.34,3.34,0,0,1,3,3.59,3.33,3.33,0,0,1-3,3.58ZM18.34,54.1a2,2,0,0,1,.38-2.82,2.23,2.23,0,0,1,3-.09l2.1,2.17L29.07,48a1.93,1.93,0,0,1,2.82.3,2.23,2.23,0,0,1,.18,3l-7,7.14a1.94,1.94,0,0,1-2.82-.3l-.16-.19a1.94,1.94,0,0,1-.31-.26L18.34,54.1Zm24.4,2.69a3.34,3.34,0,0,1-3-3.59,3.34,3.34,0,0,1,3-3.59H78.25a3.34,3.34,0,0,1,3,3.59,3.34,3.34,0,0,1-3,3.59Z" /></svg>
                                        }
                                        else
                                        {
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Brand & Model
                                                        </th>
                                                        <th>
                                                            Price
                                                        </th>
                                                        <th>
                                                            Pickup & Dropoff Date
                                                        </th>
                                                        <th>
                                                            Pickup & Dropoff Location
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (Order order in Model.Orders)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @order.Car.Brand.Name @order.Car.Brand.Models.FirstOrDefault(m=>m.Id == order.Car.ModelId).Name
                                                            </td>
                                                            <td>
                                                                $@order.Car.Price
                                                            </td>
                                                            <td>
                                                                @order.PickDate.ToString("D"),
                                                                @order.DropDate.ToString("D")
                                                            </td>
                                                            <td>
                                                                @order.PickLoc,
                                                                @order.DropLoc
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->

<!-- scripts -->
<script src="~/assets/js/consumeraccount.js"></script>
@section Scripts{
    <script>
        const inputs = document.querySelectorAll('input');

        inputs.forEach(function (input) {
            input.setAttribute('required', true);
        });
    </script>
    <script>
        function formatCardNumber(input) {
            let value = input.value.replace(/[^0-9]/g, '');
            let formattedValue = '';

            for (let i = 0; i < value.length; i++) {
                if (i > 0 && i % 4 === 0) {
                    formattedValue += ' ';
                }
                formattedValue += value.charAt(i);
            }

            input.value = formattedValue;
        }

        function formatDate(input) {
            let value = input.value.replace(/[^0-9]/g, '');
            let formattedValue = '';

            for (let i = 0; i < value.length; i++) {
                if (i > 0 && i % 2 === 0) {
                    formattedValue += '/';
                }
                formattedValue += value.charAt(i);
            }

            input.value = formattedValue;
        }
    </script>
    <script>

        let changePhotoBtn = document.querySelector(".edit-photo")
        let changePhotoInput = document.querySelector(".change-photo-input")

        changePhotoBtn.addEventListener("click", function () {
            changePhotoInput.click()
        })

        changePhotoInput.addEventListener("change", function () {

            var file = this.files[0]

            if (!file.type.startsWith("image/")) {
                alert("Please select an image file.");
                return;
            }

            if (file.size > 5 * 1024 * 1024) {
                alert("The selected image exceeds the maximum allowed size of 5MB.");
                return;
            }

            document.querySelector("#changePhotoForm").submit();
        })

    </script>
}