@using DreamsRentBack.Entities.CarModels;
@using DreamsRentBack.Services;
@inject LayoutService layoutServices;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/assets/images/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emojionearea/dist/emojionearea.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<style>
    .msg-btn {
        padding: 15px!important;
        width: 60px!important;
        height: 60px!important;
        position: fixed!important;
        border-radius: 50%!important;
        bottom: 20px!important;
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        right: 95%!important;
    }
    }
</style>
<body style="overflow-x: hidden;">
    <!-- header start -->
    <header id="header" class="d-lg-flex d-none">
        <div class="container">
            <nav class="row">
                <div class="nav-logo col-lg-4">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/header/@layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("Logo")).Value" />
                    </a>
                </div>
                <div class="nav-menu col-lg-4">
                    <ul class="d-flex">
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Listing" asp-action="Index">Car List</a>
                        </li>
                        <li>
                            <a asp-controller="AboutUs" asp-action="Contact">Contact</a>
                        </li>
                        <li>
                            <a asp-controller="AboutUs" asp-action="About">About Us</a>
                        </li>
                        <li>
                            <a asp-controller="AboutUs" asp-action="FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-user col-lg-4">
                    <ul class="d-flex">
                        @if (User.IsInRole("Company"))
                        {
                            <li class="add-car">
                                <a asp-controller="Car" asp-action="AddCar" style="text-decoration:none">
                                    @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("AddCarIcon")).Value)
                                    Add Car
                                </a>
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="sign-in first-choose">
                                <a asp-controller="Account" asp-action="Signin">
                                    @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("SigninIcon")).Value)
                                    Sign In
                                </a>
                            </li>
                            <li class="sign-out second-choose">
                                <a asp-controller="Account" asp-action="ConsumerSignup">
                                    @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("SignupIcon")).Value)
                                    Sign Up
                                </a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="first-choose">
                                @if (User.IsInRole("Consumer"))
                                {
                                    <a asp-controller="Account" asp-action="ConsumerAccount" asp-route-UserName="@User.Identity.Name">
                                        @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("ConsumerAccountIcon")).Value)
                                        @await layoutServices.GetConsmuerFullName()
                                    </a>
                                }
                                @if (User.IsInRole("Company"))
                                {
                                    <a asp-controller="Account" asp-action="CompanyAccount" asp-route-UserName="@User.Identity.Name">
                                        @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("CompanyAccountIcon")).Value)
                                        @await layoutServices.GetCompanyName()
                                    </a>
                                }
                            </li>
                            <li class="sign-in second-choose">
                                <a asp-controller="Account" asp-action="Signout">
                                    @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("LogoutIcon")).Value)
                                    Log Out
                                </a>
                            </li>
                            <li class="second-choose ">
                                @if (await layoutServices.GetChatId() != 0)
                                {
                                    @if (User.IsInRole("Consumer"))
                                    {
                                        <a asp-controller="Chat" asp-action="Chatting" asp-route-chatId="@await layoutServices.GetChatId()" class="msg-btn">
                                            <i class="fa-solid fa-message"></i>
                                        </a>
                                    }
                                    @if (User.IsInRole("Company"))
                                    {
                                        <a asp-controller="Chat" asp-action="ChattingCompany" asp-route-chatId="@await layoutServices.GetChatId()" class="msg-btn">
                                            <i class="fa-solid fa-message"></i>
                                        </a>
                                    }
                                }
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--mini header-->
    <div id="mini-head" class="d-lg-none d-flex" style="z-index:1000;position:fixed;">
        <div class="container">
            <div class="row">
                <div class="burger-search d-flex col-2 col-md-1">
                    <div class="open-nav">
                        <div class="top">
                            <div class="logo-wrap">
                                <img src="~/assets/images/header/logo.svg" />
                            </div>
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="bottom">
                            <div class="nav-item">
                                <a asp-controller="Home" asp-action="Index">
                                    <span>Home</span>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a asp-controller="Listing" asp-action="Index">
                                    <span>Car Listing</span>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a asp-controller="AboutUs" asp-action="Contact">
                                    <span>Contact Us</span>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a asp-controller="AboutUs" asp-action="About">
                                    <span>About Us</span>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a asp-controller="AboutUs" asp-action="FAQ">
                                    <span>FAQ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="menu" viewBox="0 0 750 750">
                                <title>menu</title>
                                <path d="M12.03,84.212h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03
                      C5.39,60.152,0,65.541,0,72.182C0,78.823,5.39,84.212,12.03,84.212z"></path>
                                <path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03
                          S379.58,180.455,372.939,180.455z"></path>
                                <path d="M372.939,300.758H12.03c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h360.909
                      c6.641,0,12.03-5.39,12.03-12.03C384.97,306.147,379.58,300.758,372.939,300.758z"></path>
                            </symbol>
                        </svg>
                        <svg class="icon" viewBox="0 0 30 30"><use xlink:href="#menu" x="22%" y="25%"></use></svg>
                    </div>
                </div>
                <div class="d-flex justify-content-between col-10 col-md-11" style="padding-right: 0;padding-left: 25px;">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/header/logo.svg" alt=""></a>
                    </div>
                    <div class="nav-user">
                        <ul class="d-flex">
                            <li class="sign-in first-choose">
                                <a asp-controller="Account" asp-action="Signin" class="btn btn-warning">
                                    <i class="fa-regular fa-user"></i>
                                    Sign In
                                </a>
                            </li>
                            <li class="sign-up second-choose">
                                <a asp-controller="Account" asp-action="ConsumerSignup" class="btn btn-dark">
                                    <i class="fa-solid fa-lock"></i>
                                    Sign Up
                                </a>
                            </li>
                            <li class="my-account first-choose d-none">
                                <a href="#">
                                    <i class="fa-regular fa-user"></i>
                                    My Account
                                </a>
                            </li>
                            <li class="sign-out second-choose d-none">
                                <a href="#">
                                    <i class="fa-regular fa-user"></i>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-user">
                        <a href="#" class="btn btn-warning ">
                            <i class="fa-regular fa-user"></i>
                        </a>
                        <div class="drop-login">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Account" asp-action="Signin">
                                    <p>Sign In</p>
                                </a>
                                <a asp-controller="Account" asp-action="ConsumerSignup">
                                    <p>Sign Up</p>
                                </a>
                            }
                            else
                            {
                                @if (User.IsInRole("Consumer"))
                                {
                                    <a asp-controller="Account" asp-action="ConsumerAccount" asp-route-UserName="@User.Identity.Name">
                                        <p>My Account</p>
                                    </a>
                                }
                                @if (User.IsInRole("Company"))
                                {
                                    <a asp-controller="Account" asp-action="CompanyAccount" asp-route-UserName="@User.Identity.Name">
                                        <p>My Account</p>
                                    </a>
                                    <a asp-controller="Car" asp-action="AddCar">
                                        <p>Add Car</p>
                                    </a>
                                }
                                <a asp-controller="Account" asp-action="Signout">
                                    <p>Sign Out</p>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-lg-none d-flex" style="height:60px"></div>
    <!-- header end -->
    <div>
        @RenderBody()
    </div>
    <!-- scroll-top start -->
    <a class="go-top" href="" target="_top">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
    <!-- scroll-top end -->
    <!-- footer start -->
    <footer id="footer">
        <div class="container">
            <div data-aos="fade-up" class="footer-top">
                <div class="row">
                    <div class="col-lg-7 row">
                        <div class="col-lg-4 col-md-4 footer-cols">
                            <h5>About Company</h5>
                            <ul class="col-list">
                                <li>
                                    <a asp-controller="AboutUs" asp-action="Contact">Contact Us</a>
                                </li>
                                <li>
                                    <a asp-controller="AboutUs" asp-action="About">About Us</a>
                                </li>
                                <li>
                                    <a asp-controller="AboutUs" asp-action="Team">Our Team</a>
                                </li>
                                <li>
                                    <a asp-controller="AboutUs" asp-action="FAQ">FAQ</a>
                                </li>
                                <li>
                                    <a asp-controller="AboutUs" asp-action="FAQ">Privacy & Policy</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 footer-cols">
                            <h5>Vehicles Type</h5>
                            <ul class="col-list">
                                @foreach (Body body in layoutServices.GetBodyTypes())
                                {
                                    <li>
                                        <a href="#">@body.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 footer-cols">
                            <h5>Quick links</h5>
                            <ul class="col-list">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (User.IsInRole("Consumer"))
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="ConsumerAccount" asp-route-UserName="@User.Identity.Name">My Account</a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Company"))
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="CompanyAccount" asp-route-UserName="@User.Identity.Name">My Account</a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a asp-controller="Account" asp-action="Signin">Sign In</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="ConsumerSignup">Sign Up</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 footer-cols">
                        <h5>Contact Info</h5>
                        <div class="contact">
                            <div class="contact-items">
                                <span class="phone-icon">
                                    @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("TelIcon")).Value)
                                </span>
                                <div class="phone">
                                    <a>@layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("Tel")).Value</a>
                                </div>
                            </div>
                            <div class="contact-items">
                                <span class="email-icon">
                                    @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("EmailIcon")).Value)
                                </span>
                                <div class="email">
                                    <a>@layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("Email")).Value</a>
                                </div>
                            </div>
                            <div class="contact-form">
                                <form asp-controller="Home" asp-action="Subscribtion">
                                    <span>
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                    <input type="email" name="email" placeholder="Eter Your Email Here">
                                    <button type="submit">
                                        <i class="fa-solid fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="connect">
                            <h6>Connect with us</h6>
                            <ul class="wrapper">
                                <li class="button">
                                    <a href="#" class="fb icon">
                                        @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("FacebookIcon")).Value)
                                    </a>
                                    <span>Facebook</span>
                                </li>
                                <li class="button">
                                    <a href="#" class="instagram icon">
                                        @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("InstagramIcon")).Value)
                                    </a>
                                    <span>Instagram</span>
                                </li>
                                <li class="button">
                                    <a href="#" class="be icon">
                                        @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("BehanceIcon")).Value)
                                    </a>
                                    <span>Behance</span>
                                </li>
                                <li class="button">
                                    <a href="#" class="twitter icon">
                                        @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("TwitterIcon")).Value)
                                    </a>
                                    <span>Twitter</span>
                                </li>
                                <li class="button">
                                    <a href="#" class="in icon">
                                        @Html.Raw(layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("LinkedinIcon")).Value)
                                    </a>
                                    <span>Linkedin</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright-debits row">
                    <div class="copyright col-lg-6 col-md-6">
                        <span>© 2023 Dreams Rent. All Rights Reserved.</span>
                    </div>
                    <div class="debits col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/assets/images/footer/@layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("Paypal")).Value" alt="paypal">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/assets/images/footer/@layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("Visa")).Value" alt="visa">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/assets/images/footer/@layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("Master")).Value" alt="master">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/assets/images/footer/@layoutServices.GetSettings().FirstOrDefault(s=>s.Key.Equals("Applepay")).Value" alt="applegpay">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emojionearea/dist/emojionearea.min.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/owl.carousel.js"></script>
    <script src="~/assets/js/carousel.js"></script>
    <script src="~/assets/js/footer.js"></script>
    <script src="~/assets/js/accordion.js"></script>
    <script src="~/assets/js/AOS.js"></script>
    <script src="~/assets/js/emoji.js"></script>
    <script src="~/assets/js/miniheader.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    @RenderSection("Scripts", false)
</body>
</html>
